body {
    background-color: darkgrey;
}

h1 {
    font-family: "Segoe UI", serif;
}

h2 {
    font-family: "Segoe UI", serif;
}

p {
    font-family: "";
}

#nav {
    font-family: "Segoe UI", serif;
    text-align: center;
}

#important {
    font-weight: bold;
}
